
*{
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

.logo{
    width: 180px;   
    height: 50px;
}

.navbar-nav {
    align-items: center;
    padding-right: 220px;
    font-size: 120%;
    font-weight: 500;
}

.alert-warning {
    background-color: #fff3cd;
    color: #856404;
    border: 1px solid #ffeeba;
    border-radius: 8px;
}

.navbar-nav .nav-item {
    padding-left: 20px;
    padding-right: 20px;
}

.title-custom {
    font-weight: 600;
    padding-left: 60px;
    font-size: 200%;
}

.custom-table-container {
    margin: 0 25px; 
}

.description {
    padding-left: 235px;
    font-size: large;
    font-weight: 500;
}

.custom-table-container th.jumlah-dosen,
.custom-table-container td.jumlah-dosen {
    width: 350px; 
    white-space: nowrap; 
}

.navbar-nav .nav-link {
    font-weight: 300; /* Ensure this matches the weight used on other pages */
}
